---
layout: default
title: NijiLinks
cur: Nijisanji
---
<div class="container">
	<h1>{{page.cur}} Channels</h1>

	{% include navigation.html href="/video.html" name="Videos" %}

	<br />

	<div id="hololive-en">
		<h2>{{page.cur}} EN</h2>
		<hr />
		{% include holo_col.liquid region="en" %}	
	</div>
	<!-- <div id="hololive-id">
		<h2>{{page.niji}} ID</h2>
		<hr />
		{% include holo_col.liquid region="id" %}
	</div>
	<div id="hololive-jp">
		<h2>{{page.niji}} JP</h2>
		<hr />
		{% include holo_col.liquid region="jp" %}
	</div> -->
</div>







