{% assign i = 0 %}
{% for holo in site.data.hololive %}
	{% if holo.region == {{include.region}} %}
		{% assign remainder = i | modulo: 5 %}

		{% if remainder == 0 %}
			<div class="row">
		{% endif %}

		<div class="col center">
			<img src="{{ holo.image_path }}" class='rounded-circle' alt='Hololive'>
			<a href="https://www.youtube.com/channel/{{ holo.youtube_url }}"><h5 class='extra-margin'>{{ holo.name }}</h5></a>
		</div>

		{% if remainder == 4 %}
			</div>
		{% endif %}

		{% assign i = i | plus: 1 %}
	{% endif %}
{% endfor %}

{% if remainder != 4 %}
	</div>
{% endif %}