.material-icons.md-48 { font-size: 48px; }

img {
  width: 192px;
  height: 255px;
}

body {
  margin-top: 80px;
  font-family: 'Work Sans', sans-serif;
  background:#ffffff; 
  color:rgb(0, 0, 0); 
}

.center {
  text-align: center;
}

h1 {
  color: #882edc;
  text-align: center;
}

h2 {
  color: #6849f0; 
}

.extra-margin {
  margin: 25px;
}

.extra-margin-top {
  margin-top: 15px;
}

div.fixed {
  position: fixed;
  bottom: 100px;
  right: 100px;
  color: #6849f0;; 
}

a:hover, div.fixed:hover {
  color: #e460ff;
}

a {
  color: #882edc
}

.icon {
  width: auto;
  height: 32px;
  margin: 10px;
}